body {
    padding: 0;
    background-color: #f0f0f0;
}
.prod-img {
    display: inline-block;
    height: 60px;
    object-fit: cover;
}
.table>thead>tr>th, .table>thead>tr>td, .table>tbody>tr>th, .table>tbody>tr>td {
    vertical-align: middle;
}
.table>thead>tr>th {
    white-space: nowrap;
}
.item-title {
    display: inline-block;
    padding-left: 8px;
    white-space: normal;
    font-weight: 700;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 300px;
}
.title {
    text-transform: uppercase;
    font-weight: 500;
}
.btn>i {
    pointer-events: none;
}
.btn, .form-control {
    box-shadow: none !important;
}
.navbar img {
    /*height: 48px;*/
}
.justify-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrap-banner>img {
    width: 100%;
}
@media (max-width: 776px) {
    .align-end {
        display: contents;
    }
}
@media (max-width: 576px) {
    .on-small-device {
        font-size: 9px;
        margin: 0px 3px;
    }
    .item-button {
        display: none;
    }
}
@media (max-width: 372px) {
    .on-small-device {
        font-size: 8px;
        margin: 0px 3px;
    }
}
@media (max-width: 576px) {
    .mbs2 {
        margin-bottom: 8px;
    }
}
.table-color {
    background-color: #f9f9fb;
}
.table-color>th {
    color: #6b6b6b;
    font-weight: initial;
    font-family: 'Poppins', sans-serif;
}
#products>tr>td {
    padding: 19px;
}
.btn-add-cart {
    background: #2587b8 !important;
}
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 30px;
    font-size: 17px;
}
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 30px;
        opacity: 1;
    }
}
@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 30px;
        opacity: 1;
    }
}
@-webkit-keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}
@keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}
.header-logo {
    /*padding-left: 38px;*/
    /*height: 58px;*/
}
@media (max-width: 776px) {
    .header-logo {
        padding-left: 17px !important;
        height: 48px;
    }
}
.header-navbar {
    padding: 0px;
}
.header-img {
    height: 71px !important;
}
.header-search {
    padding: 26px 0px 65px 0px;
    /* background: #2587b8; */
    margin: 0px;
}
.btn-search-radius {
    border-radius: 0;
    background: #69c4f5;
    border: #69c4f5;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
#basket-container {
    margin: 7px 0px;
}
.basket-thead {
    border-top: 1px solid #dee2e6;
    border-bottom: 4px solid #dee2e6;
}
.basket-tbody>tr {
    background: #ffffff !important;
    border-bottom: 1px solid #ebebeb;
}
.basket-tbody>tr>td {
    padding: 19px;
}
.store-color-scheme {
    background: #a6d7eb !important;
    border: #a6d7eb !important;
    color: black !important;
}
.store-color-scheme:hover {
    background: #a6d7eb !important;
    border: #a6d7eb !important;
    color: black !important;
}
.main-container {
    background: #ffffff;
}
.title {
    font-family: 'Playfair Display SC', serif;
}
.item-table .dataTables_wrapper .row .col-sm-12 .dataTables_filter {
    display: none !important;
}
.item-table .dataTables_wrapper .row .col-sm-12 .dataTables_length {
    display: none !important;
}
.default-btn {
    background-color: #2587b8;
}
.justify-space-between {
    padding: 2px 16px;
}
.align-end {
    text-align: end;
}
.empty-cart {
    height: 18px;
    margin-left: 5px;
}
.total-class {
    border-bottom: none !important;
    font-weight: 700 !important;
}
.plus-minus {
    background: #055177;
}
.cursor-mode {
    cursor: pointer;
}
.header-logo {
    height: 66px !important;
}
.header-logo {
    background-color: #f8f9fa!important;
    padding: 11px
}
.header-container {
    padding-bottom: 9px !important;
    background-color: #f8f9fa !important;
}
.section-gap {
    padding: 14px 9px;
    margin: 26px 0px;
    background: #f8f9fa;
}
#dt-products_wrapper {
    padding: 14px;
}