body {
    padding: 0;
    background-color: #fff;
}
.bg-gray{
	background-color:#f0f0f0 !important;
}
.prod-img {
    display: inline-block;
    height: 60px;
    object-fit: cover;
}
.table>thead>tr>th, .table>thead>tr>td, .table>tbody>tr>th, .table>tbody>tr>td {
    vertical-align: middle;
}
.table>thead>tr>th {
    white-space: nowrap;
}
.item-title {
    display: inline-block;
    padding-left: 8px;
    white-space: normal;
    font-weight: 700;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 300px;
}
.title {
    text-transform: uppercase;
    font-weight: 500;
}
.btn>i {
    pointer-events: none;
}
.btn, .form-control {
    box-shadow: none !important;
}
.navbar img {
    /*height: 48px;*/
}
.justify-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrap-banner>img {
    width: 100%;
}
@media (max-width: 776px) {
    .align-end {
        display: contents;
    }
}
@media (max-width: 576px) {
    .on-small-device {
        font-size: 9px;
        margin: 0px 3px;
    }
	.btn.on-small-device {
    font-size: 16px;
    }
    .item-button {
        /*display: none;*/
    }
}
@media (max-width: 372px) {
    .on-small-device {
        font-size: 8px;
        margin: 0px 3px;
    }
}
@media (max-width: 576px) {
    .mbs2 {
        margin-bottom: 8px;
    }
}
.table-color {
    background-color: #f9f9fb;
}
.table-color>th {
    color: #6b6b6b;
    font-weight: initial;
    font-family: 'Poppins', sans-serif;
}
#products>tr>td {
    padding: 19px;
}
.btn-add-cart {
    background: #28a745 !important;
}
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 9999999999999999;
    left: 50%;
    top: 30px;
    font-size: 17px;
}
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 30px;
        opacity: 1;
    }
}
@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 30px;
        opacity: 1;
    }
}
@-webkit-keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}
@keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}
.header-logo {
    /*padding-left: 38px;*/
    /*height: 58px;*/
}
@media (max-width: 776px) {
    .header-logo {
        padding-left: 17px !important;
        height: 48px;
    }
}
.header-navbar {
    padding: 0px;
}
.header-img {
    height: 71px !important;
}
.header-search {
    padding: 26px 0px 65px 0px;
    /* background: #2587b8; */
    margin: 0px;
}
.btn-search-radius {
    border-radius: 0;
    background: #69c4f5;
    border: #69c4f5;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
#basket-container {
    margin: 7px 0px;
}
.basket-thead {
    border-top: 1px solid #dee2e6;
    border-bottom: 4px solid #dee2e6;
}
.basket-tbody>tr {
    background: #ffffff !important;
    border-bottom: 1px solid #ebebeb;
}
.basket-tbody>tr>td {
    padding: 19px;
}
.store-color-scheme {
    background: #a6d7eb !important;
    border: #a6d7eb !important;
    color: black !important;
}
.store-color-scheme:hover {
    background: #a6d7eb !important;
    border: #a6d7eb !important;
    color: black !important;
}
.main-container {
    background: #ffffff;
}
.title {
    font-family: 'Playfair Display SC', serif;
}
.item-table .dataTables_wrapper .row .col-sm-12 .dataTables_filter {
    display: none !important;
}
.item-table .dataTables_wrapper .row .col-sm-12 .dataTables_length {
    display: none !important;
}
.default-btn {
    background-color: #2587b8;
}
.justify-space-between {
    padding: 2px 16px;
}
.align-end {
    text-align: end;
}
.empty-cart {
    height: 18px;
    margin-left: 5px;
}
.total-class {
    border-bottom: none !important;
    font-weight: 700 !important;
}
.plus-minus {
    background: #055177;
}
.cursor-mode {
    cursor: pointer;
}
.header-logo {
    height: 90px !important;
}
.header-logo {
    background-color: #fff!important;
    padding: 11px
}
.header-container {
    padding-bottom: 9px !important;
    background-color: #f8f9fa !important;
}
.section-gap {
    padding: 14px 9px;
    margin: 26px 0px;
    background: #f8f9fa;
}
#dt-products_wrapper {
    padding: 14px;
}

/*-------------------------------------
********** Cs  by Goshila **************
-------------------------------------*/

.section-header,
.section-header-blog,
.section-presentation-page {
  padding: 0;
}

.section-header .content,
.section-header-blog .content,
.section-presentation-page .content {
  position: relative;
  color: white;
  text-align: center;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  vertical-align: center;
  line-height: 1.7;
  position: relative;
}
.section-header .btn,
.section-header-blog .btn,
.section-presentation-page .btn {
  text-shadow: none;
}
.section-header h1,
.section-header-blog h1,
.section-presentation-page h1 {
  font-weight: 400;
  font-size: 3.6em;
  text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.3), -2px 4px 2px rgba(0, 0, 0, 0.1);
}
.section-header h5,
.section-header-blog h5,
.section-presentation-page h5 {
  font-size: 1.3em;
  margin: 0 auto .5em;
  line-height: 1.5;
  letter-spacing: 0.125;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}
.section-header p,
.section-header-blog p,
.section-presentation-page p {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 1em 0 0.5em;
}
.section-header p span,
.section-header-blog p span,
.section-presentation-page p span {
  text-transform: lowercase;
}
.section-header .separator,
.section-header-blog .separator,
.section-presentation-page .separator {
  color: #fff;
  margin: 30px auto;
}
.section-header .separator.line-separator:before, .section-header .separator.line-separator:after,
.section-header-blog .separator.line-separator:before,
.section-header-blog .separator.line-separator:after,
.section-presentation-page .separator.line-separator:before,
.section-presentation-page .separator.line-separator:after {
  border-color: white;
}

.section-header-small .parallax,
.section-header-small .static-image {
  min-height: 50vh;
  height: auto;
}
.section .parallax,
.section .static-image {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
}
.section .parallax > img,
.section .parallax .filter > img,
.section .static-image > img,
.section .static-image .filter > img {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: relative;
  z-index: 1;
}
.section .parallax-small {
  height: 65vh;
}
.section .responsive-background {
  position: relative;
  background-color: #c5a47e;
  padding: 0;
  z-index: 1;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 80vh;
}
.section .image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    z-index: 2;
    position: absolute;
    display: block;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1030;
}
.section-header{
	 background: #2a51a0;
	 padding:10px 0 40px 0;
}
.section-header h3{
	margin-top:20px;
}


.section .title-area {
    max-width: 760px;
    margin: 0 auto 70px;
    display: block;
    padding: 0 15px;
    text-align: center;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .content-blog p {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Cambo", "Times New Roman", serif;
}
@media (min-width: 768px) {
  .nav > .social-links {
    margin-left: 15px;
  }

  .section-header .separator {
    max-width: 20em;
  }
}
.section-header .separator, .section-header-blog .separator, .section-presentation-page .separator {
    color: #fff;
    margin: 30px auto;
}
.filter .separator {
    color: #FFFFFF;
}
.separator {
    color: #c5a47e;
    margin: 0 auto 20px;
    max-width: 240px;
    text-align: center;
    position: relative;
}
.separator:before, .separator:after {
    display: block;
    width: 40%;
    content: " ";
    margin-top: 10px;
    border: 1px solid #c5a47e;
}
.separator:before {
    float: left;
}
.filter .separator:before, .filter .separator:after {
    border-color: #FFFFFF;
}
.section-header .separator.line-separator:before, .section-header .separator.line-separator:after, .section-header-blog .separator.line-separator:before, .section-header-blog .separator.line-separator:after, .section-presentation-page .separator.line-separator:before, .section-presentation-page .separator.line-separator:after {
    border-color: white;
}
.separator:after {
    float: right;
}
.social-links li{
	display:inline-block;
	margin-right:5px;
}
.social-links li a i{
	color:#fff !important;
}

.mr-auto{
	margin:auto;
}
.p-0{
	padding-left:0;
	padding-right:0;
}
.h5, h5, #basket-container .d-inline-block span, #products .d-inline-block span{
    font-size: 0.9rem;
}
.btn-clear-basket{
	margin-bottom:10px;
}
.btns-list{
	padding-top:40px !important;
	padding-bottom:15px !important;
	text-align:center;
}
.btns-list .col-lg-4{
	float:left;
}
.table td, .table th {
    padding-left: 0 !important;
}
#basket-container img, #products img{
	float:left;
}
.table>tbody>tr>td {
    text-align: left;
}
.greenbtn{
	background:#28a745;
}
.btns-list li{
	display:inline-block;
	margin:auto;
	margin-bottom:10px;
	vertical-align: top;
}
.redbtn{
	background:#dc3545;
}
.pr-0{
	padding-right:0;
}
.pl-0{
	padding-left:0;
}
.addHtml{
	margin:auto;
}
.topAdd{
	max-width:768px;
	height:90px;
	width: calc(100% - 110px);
}
@media (min-width: 768px){
th.d-md-block, td.d-md-block {
    display: table-cell !important;
}
.dsp-none-lg{
	display:none;
}
}
.navLinks{
	margin-bottom:20px;
	float:left;
	width:100%;
	padding:0;
}
.navLinks li{
	display:inline-block;
	float:left;
}
.navLinks li button{
	 background: #69c4f5;
    border: #69c4f5;
	margin-right:10px;
}
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index:999999;
}
.navbar{
	padding:20px 0 !important;
}
.modal{
	z-index:999999999;
}
.basketIcon{
	padding: .325rem 0;
	cursor:pointer;
}
@media (max-width: 767px) {
	.section .title-area {
		margin-top:20px;
	}
	.section .parallax, .section .static-image, .section .image {
}
.h1, h1 {
    font-size: 1.6rem !important;
}
.col-xs-4 {
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
	text-align:center;
}
.first-btn{
	margin:auto;
	text-align:center;
	margin-bottom:10px;
}
.section-header h1, .section-header-blog h1, .section-presentation-page h1 {
    font-weight: 400;
    font-size: 3em;
    text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.3), -2px 4px 2px rgba(0, 0, 0, 0.1);
}
.row {
     margin-right: 0;
    margin-left: 0;
}
.bg-gray{
	padding:0 15px !important;
}
.searchSelect{
	font-size:18px !important;
}
#btn-search{
	padding: 0px 15px !important;
    font-size: 20px !important;
}
.searchText, .dsp-none{
	display:none;
}
.topAdd{
	height:auto !important;
}
.topAdd img{
	width:100%;

}
.navbar {
    padding: 0 !important;
}

.p-4.bg-white{
	padding: .5rem!important;
}
#products div.ml-1.d-inline-block.align-middle{
	width:80%;
}
#basket-container div.ml-1.d-inline-block.align-middle{
	width:77%;
}
#basket-container img, #products img {
    float: left;
    width: 17%;
}
.storeRequest{
	text-align:center !important;
}
.storeRequest button{
	margin-left:auto !important;
	margin-right:auto !important;
	float:none !important;
	margin-top:10px;
}
iframe, object, embed {
    max-width: 100%;
}
}
.topAdd img{
	float:right;
}
#dt-products_wrapper {
    padding: 0;
}
#dt-products thead>tr>th:not(:first-child){
	width:80px !important;
	text-align:center;
}
#dt-products tbody>tr>td:not(:first-child), #basket-container tbody>tr>td:not(:first-child){
	text-align:center;
}